@font-face {
  font-family: 'dsdigi';
  src: url('/assets/webfont/ds-digi.woff');

}

@font-face {
  font-family: "JetBrains";
  src: url("/assets/webfont/JetBrainsMono.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  src: url("/assets/webfont/Oswald.woff") format("woff");
}

@font-face {
  font-family: "TrainOne";
  src: url("/assets/webfont/TrainOne-Regular.woff") format("woff");
}

@font-face {
  font-family: "AbrilFatface";
  src: url("/assets/webfont/AbrilFatface-Regular.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS_Sans";
  src: url("/assets/webfont/HarmonyOS_Sans.woff") format("woff");
}

@font-face {
  font-family: "Arial";
  src: url("/assets/webfont/Arial-Rounded-Bold.woff") format("woff");
}

@font-face {
  font-family: "Bebas";
  src: url("/assets/webfont/Bebas.woff") format("woff");
}

@font-face {
  font-family: "Aldrich";
  src: url("/assets/webfont/Aldrich-Regular.woff") format("woff");
}

@font-face {
  font-family: "BungeeHairline";
  src: url("/assets/webfont/Bungee_Hairline.ttf") format("woff");
}

@font-face {
  font-family: "Expansiva";
  src: url("/assets/webfont/Expansiva.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/webfont/Merriweather-Regular.woff") format("woff");
}


@font-face {
  font-family: "Nabla";
  src: url("/assets/webfont/Nabla.woff") format("woff");
}

@font-face {
  font-family: "Orbitron";
  src: url("/assets/webfont/Orbitron-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-family: "Silkscreen";
  src: url("/assets/webfont/Silkscreen-Regular.woff") format("woff");
}

@font-face {
  font-family: "MiSans";
  src: url("/assets/webfont/MiSans-Normal.woff") format("woff");
}

@font-face {
  font-family: "SFUI";
  src: url("/assets/webfont/SFUI.ttc") format("woff");
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("/assets/webfont/PlusJakartaSans.woff") format("woff");
}
