@use './theme/base.scss';
@use './theme/light.scss';
@use './theme/dark.scss';
@use './fonts.scss';

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: 'HarmonyOS_Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
html, body, #app, .app-container {
  height: 100%;
}

.vxe-buttons--wrapper {
  > button {
    margin-right: unset !important;
    border-radius: unset !important;

    &:not(:first-of-type):not(:last-of-type) {
      border-left: unset !important;
      border-right: unset !important;
    }

    &:first-of-type {
      border-left: unset !important;
      border-top-left-radius: var(--vxe-ui-base-border-radius) !important;
      border-bottom-left-radius: var(--vxe-ui-base-border-radius) !important;
    }

    &:last-of-type {
      border-right: unset !important;
      border-top-right-radius: var(--vxe-ui-base-border-radius) !important;
      border-bottom-right-radius: var(--vxe-ui-base-border-radius) !important;
    }
  }
}

ul.menu-item-options {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  z-index: 9999;
  border-radius: 5px;
  min-width: 150px;
  user-select: none;
  list-style: none;

  li {
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.vxe-tag.color--gray {
  color: #827d7d;
  background-color: #f3f3f3
}

.vxe-tag.color--orangered {
  color: #877568;
  background-color: #f4e9e1
}

.vxe-tag.color--orange {
  color: #9a9079;
  background-color: #fff8e8
}

.vxe-tag.color--green {
  color: #627865;
  background-color: #e7ffea
}

.vxe-tag.color--blue {
  color: #6b7b82;
  background-color: #e8f8ff
}

.vxe-tag.color--purple {
  color: #8f7e97;
  background-color: #f8e8ff
}

.vxe-tag.color--pinkpurple {
  color: #82687a;
  background-color: #ffe8f8
}

.vxe-tag.color--magenta {
  color: #846084;
  background-color: #f4c9f4
}

.vxe-tag.color--chocolate {
  color: #7f6e61;
  background-color: #f7e2d2
}

.vxe-tag.color--cyan {
  color: #577474;
  background-color: #d7f7f7
}

.vxe-tag.color--primary {
  color: var(--vxe-ui-font-primary-color);
  background-color: var(--vxe-ui-font-primary-tinge-color)
}

.vxe-tag.color--success {
  color: var(--vxe-ui-status-success-color);
  background-color: var(--vxe-ui-status-success-tinge-color)
}

.vxe-tag.color--info {
  color: var(--vxe-ui-status-info-color);
  background-color: var(--vxe-ui-status-info-tinge-color)
}

.vxe-tag.color--warning {
  color: var(--vxe-ui-status-warning-color);
  background-color: var(--vxe-ui-status-warning-tinge-color)
}

.vxe-tag.color--error {
  color: var(--vxe-ui-status-error-color);
  background-color: var(--vxe-ui-status-error-tinge-color)
}

h1[data-line="0"],
h2[data-line="0"],
h3[data-line="0"],
h4[data-line="0"],
h5[data-line="0"],
h6[data-line="0"] {
  margin: 0 0 .8em !important;
}